.svg-b1--1,.svg-b1--2,.svg-b1--3,.svg-b2--1,.svg-b2--2,.svg-b2--3,.svg-b4--1,.svg-b4--2,.svg-b4--3,.svg-b4--4,.svg-clock-white,.svg-cookie,.svg-header-logo,.svg-icon--arrow-black,.svg-icon--arrow-long,.svg-icon--fb,.svg-icon--inst,.svg-icon--ok,.svg-icon--tw,.svg-icon--vk,.svg-icon--youtube,.svg-logo-blue,.svg-logo-white,.svg-mark{display:block;background:url(img/icon/sprite.view.svg) no-repeat}
.svg-b1--1{background-position:97.0336189848385% 55.90118938700824%}
.svg-b1--1-dims{width:83px;height:83px}
.svg-b1--2{background-position:95.83333333333333% 63.43692870201097%}
.svg-b1--2-dims{width:64px;height:82px}
.svg-b1--3{background-position:96.33507853403141% 48.06985294117647%}
.svg-b1--3-dims{width:72px;height:88px}
.svg-b2--1{background-position:100% 47.3731884057971%}
.svg-b2--1-dims{width:56px;height:72px}
.svg-b2--2{background-position:96.08355091383812% 76.49186256781194%}
.svg-b2--2-dims{width:68px;height:70px}
.svg-b2--3{background-position:99.28894634776988% 62.63537906137184%}
.svg-b2--3-dims{width:53px;height:68px}
.svg-b4--1{background-position:99.5475113122172% 75.06654835847382%}
.svg-b4--1-dims{width:53px;height:49px}
.svg-b4--2{background-position:95.02905100064558% 81.49466192170819%}
.svg-b4--2-dims{width:51px;height:52px}
.svg-b4--3{background-position:94.84536082474227% 84.46771378708551%}
.svg-b4--3-dims{width:48px;height:30px}
.svg-b4--4{background-position:98.32149774047772% 81.20567375886525%}
.svg-b4--4-dims{width:51px;height:48px}
.svg-clock-white{background-position:96.08355091383812% 70.1627486437613%}
.svg-clock-white-dims{width:68px;height:70px}
.svg-cookie{background-position:100% 69.47179946284692%}
.svg-cookie-dims{width:60px;height:59px}
.svg-header-logo{background-position:58.46802529866479% 50.94664371772806%}
.svg-header-logo-dims{width:177px;height:14px}
.svg-icon--arrow-black{background-position:98.06795469686875% 43.94849785407725%}
.svg-icon--arrow-black-dims{width:99px;height:11px}
.svg-icon--arrow-long{background-position:63.125948406676784% 43.94849785407725%}
.svg-icon--arrow-long-dims{width:282px;height:11px}
.svg-icon--fb{background-position:90% 77.10843373493977%}
.svg-icon--fb-dims{width:320px;height:512px}
.svg-icon--inst{background-position:100% 0}
.svg-icon--inst-dims{width:448px;height:512px}
.svg-icon--ok{background-position:40% 77.10843373493977%}
.svg-icon--ok-dims{width:320px;height:512px}
.svg-icon--tw{background-position:0 77.10843373493977%}
.svg-icon--tw-dims{width:512px;height:512px}
.svg-icon--vk{background-position:56.25% 0}
.svg-icon--vk-dims{width:576px;height:512px}
.svg-icon--youtube{background-position:0 0}
.svg-icon--youtube-dims{width:576px;height:512px}
.svg-logo-blue{background-position:0 100%}
.svg-logo-blue-dims{width:428px;height:152px}
.svg-logo-white{background-position:59.17496443812233% 47.24480578139115%}
.svg-logo-white-dims{width:194px;height:69px}
.svg-mark{background-position:99.24194567277321% 43.798118049615056%}
.svg-mark-dims{width:17px;height:7px}