.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-size: 18px;
    transition: .3s;
    cursor: pointer;
    height: 50px;
    width: 368px;
    max-width: 100%;
    font-weight: 300;
    &-center{
        margin: 0 auto;
    }
    &-blue{
        color: white; 
        background-color: #00aaff;
        &--dark{
            background-color: #0a2896;
        } 
    }
    &-red{
        background-color: #e62632;   
        color: white;  
        &:hover{
            background-color: lighten($color: #e62632, $amount: 5%);
        }
    }
    &-ghost{
        border: 1px solid #1e4bd2;
        color: #1e4bd2;
        background: transparent;
        &:hover{
            background-color: #0a2896;
            color: white;
        }
    }
}