.block2{
    h2{
        /* font-family: "Proxima Nova - Regular"; */
        color: #2d3039;  
        font-size: 45px;
        font-weight: 300;
        line-height: 45px;    
        max-width: 774px;   
        span{
            color: #002882;
        }
        
        @include media(768){
            font-size: 30px;
            line-height: normal;
            max-width: 500px;
        }
        @include media(400){
            font-size: 25px;
        }
    }
    &__top{
        background: url("img/b2-top-back.png") no-repeat center/cover;
        height: 650px;
        position: relative;
        display: flex;
        justify-content: center;
        @include media(768){
            height: 350px;
        }
        
        &-txt{
            margin: 60px auto 0 auto;
            max-width: 843px;
            text-align: center;
            
            @include media(768){
                margin: 50px auto;
                text-align: left;
            }
            @include media(628){
                text-align: left;
                max-width: 600px;
            }
            .num{
                color: #002882;
                font-size: 11vmax;
                font-weight: 100;   
                display: inline-block;
                vertical-align: middle;
            }
            p{
                text-align: left;
                max-width: 416px; 
                font-size: 30px;
                font-weight: 300;
                line-height: 37px;
                margin-left: 10px;
                display: inline-block;
                vertical-align: middle;
                @include media(628){
                    margin-left: 0;
                }
                @include media(500){
                    font-size: 20px;
                    line-height: normal;
                }
                b{
                    color: #002882;
                    font-weight: 500;
                }
            }
        }
    }
    &__middle{
        &-list{
            max-width: 841px;
            margin: 20px auto 40px;
        }
        &-item{
            opacity: 0;
            margin-bottom: 30px;
            &:last-child{
                margin-bottom: 0;
            }
            &-num{
                color: #002882;/* 
                font-family: "Proxima Nova Lt"; */
                font-size: 89px;
                font-weight: 300;      
            }
            &-txt{
                margin: 0 -6px 0 -6px;
                &-title{
                    display: flex;
                    color: #002882;/* 
                    font-family: "Proxima Nova Rg"; */
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 30px;   
                    width: 40%;
                    padding: 0 6px;
                    @include media(768){
                        width: 100%;
                        margin-bottom: 10px;
                    }
                }
                .line{
                    width: 10%;
                    height: 1px;
                    background: #002882;
                    margin-top: 15px;
                    padding: 0 6px;
                    @include media(768){
                        display: none;
                    }
                }
                &-desc{
                    width: 50%;
                    padding: 0 6px;
                    color: #2d3039;/* 
                    font-family: "Proxima Nova - Regular"; */
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 30px;
                    @include media(768){
                        width: 100%;
                    }
                }
            }
        }
    }
    &__btn{
        max-width: 274px;
    }
    &__bottom{
        position: relative;
        padding-bottom: 136px;
        h2{
            max-width: 575px;
            @include media(950){
                margin-bottom: 30px;
            }
        }
        .background{
            position: absolute;
            right: 47%;
            bottom: -1px;
            z-index: -1;
            
            @include media(768){
                right: 0;
            }
        }
        &-list{
            max-width: 740px; 
            margin-left: auto;
        }
        &-item{
            opacity: 0;
            width: 33%;
            padding: 0 20px;
            @include media(768){
                width: 100%;
                padding: 0;
                margin-bottom: 30px;
            }
            &-btn{
                width: 100%;
                margin-top: 40px;
            }
            &-icon{
                width: 70px;
                height: 70px;
                margin-bottom: 20px;
            }
            &-title{
                color: #002882;
                font-size: 18px;
                font-weight: 700;
                line-height: 25px;   
                margin-bottom: 13px;     
            }
            &-desc{
                color: #2d3039;/* 
                font-family: "Proxima Nova - Regular"; */
                font-size: 16px;
                font-weight: 300;
                line-height: 25px;
            }
        }
    }
}