.block3{
    color: white;
    &__row{
        background-color: #0a2896;
        padding: 50px 70px 0;
        max-width: 1270px;
        margin: 0 auto;
        @include media(1100){
            padding: 50px 40px;
        }
        @include media(768){
            padding: 30px 15px;
        }
    }
    &__left{
        width: 50%;
        padding: 50px 40px 0 0;
        @include media(1000){
            width: 100%;
            padding: 0;
            margin-bottom: 20px;
        }
        &-title{
            font-size: 45px;
            font-weight: 300;
            line-height: 1.22;    
            margin-bottom: 30px;   
            max-width: 526px; 
            @include media(1000){
                font-size: 30px;
                line-height: normal;
            }
            @include media(768){
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
        &-desc{
            font-size: 20px;
            font-weight: 300;
            line-height: 1.5;   
            max-width: 400px;  
            @include media(768){
                font-size: 16px;
                line-height: normal;
            }   
        }
    }
    &__right{
        width: 50%;
        padding: 50px 0 0 40px;
        @include media(1000){
            width: 100%;
            padding: 0;
        }
    }
    &__success{
        display: none;
        text-align: center;
        border: 1px solid #dbdbdb;
        padding: 30px 15px;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        @include media(768){
            padding: 20px 15px;
            font-size: 16px;
            line-height: normal;
        }
        p{
            text-align: center;
            max-width: 400px;
            margin: 20px auto 20px;
        }
        a{
            text-decoration: underline;
            color: white;
        }
    }
    &__form{
        background: white;
        padding: 50px 70px 20px;
        @include media(768){
            padding: 30px;
        }
        span{
            display: block;
            font-size: 20px;
            font-weight: 300;
            line-height: 30px;
            margin-bottom: 20px;   
            @include media(768){
                line-height: normal;
            }  
        }
        &-fields{
            color: #2f3441;
            input{
                width: 100%;
                font-size: 18px;
                border: 0;
                border-bottom: solid 1px #979797;    
                padding-left: 12px;
                height: 50px;
                background: transparent;
                margin-bottom: 24px;
                &::placeholder{
                    color: #2f3441;
                    font-weight: 300;
                }
                &.error{
                    border: 1px solid #ff9595; 
                    &::placeholder{
                        color: #ff9595;
                    }
                }
            }
            span {
                font-size: 14px;
                line-height: 1.64;
                color: #2f3441;
                max-width: 400px;
                margin-top: 7px;
            }
        }
        &-btn{
            width: 100%;
            margin-top: 8px;
        }
    }

}