.header{
    @include media(600){
        flex-wrap: wrap;
    }
    &__left{
        padding: 0 25px;
        width: 90%;
        @include media(600){
            padding: 20px 10px;
            width: 100%;
        }
        
        @include media(400){
            a{
                width: 100%;
                margin: 0;
                margin-top: 10px;
            }
        }
        a{
            margin-left: auto;
            color: #2d3039;
            font-size: 13px;
            line-height: 11px;
            
        }
    }
    &__auth{
        flex: 1 0 auto;
        border-radius: 2px;
        background-color: #6e7992;
        padding: 10px 12px;
        img{
            margin-right: 16px;
        }
        span{
            display: block;
            color: #ffffff;
            font-size: 12px;
            line-height: 20px;
        }
    }
}